<header class="main-header">
	<div class="header-wrapper">
		<a href="{{ "/" | relURL }}" class="logo">Sylvain Bauvais</a>
		<nav class="nav">
			<button aria-expanded="false" type="button" class="nav-toggle">
        <svg id="i-menu" aria-label="Menu" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="currentColor" stroke-width="6.25%">
          <path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24"></path>
        </svg>
			</button>
			<ul class="nav-list">
				<li class="nav-item">
					<a href="/a-propos/">À propos</a>
				</li>
				<li class="nav-item">
					<a href="/blog/">Blog</a>
				</li>
				<li class="nav-item">
					<a href="mailto:sylvain.bauvais@hova.fr?subject=Création ou amélioration de mon site web">Contact</a>
				</li>
			</ul>
		</nav>
	</div>
</header>