{{ define "main" }}

<div class="hero">
  <div class="hero-desc">
    <h1>Sylvain Bauvais, <br> UX/UI Designer freelance</h1>
    <p>Je vous accompagne dans la création ou l'amélioration de votre site web ou application afin de développer votre présence en ligne.</p>
    <a class="btn btn-primary" href="#explorer">Explorer mes créations</a>
  </div>
  <div class="hero-img">
    <img src="/hero-img.webp" alt="Illustration de plusieurs projets déjà réalisés" width="640px" height="640px" class="hero-img">
  </div>
</div>

<section class="case-studies-section" id="explorer">
  <h2>Projets selectionnés</h2>
  <p>Études de cas pour vous présenter quelques exemples de mes réalisations et mon processus de création.</p>
  <div class="case-studies-list">
    <div class="case-study-item">
      <img src="/marine-gustin-yoga-preview.webp" alt="Aperçu de l'étude de cas sur le site ETS Valentin" width="640px" height="510px" loading="lazy" class="case-study-img">
      <div class="case-study-desc">
        <h3>Création d'un site vitrine</h3>
        <p>Création d’un site vitrine pour une professeure de yoga qui vient de lancer son activité.</p>
        <a class="btn btn-secondary" href="/marine-gustin-yoga/">Voir l'étude de cas</a>
      </div>
    </div>

    <div class="case-study-item reverse">
      <img src="/ets-valentin-preview.webp" alt="Aperçu de l'étude de cas sur le site ETS Valentin" width="640px" height="510px" loading="lazy" class="case-study-img">
      <div class="case-study-desc">
        <h3>Redesign et migration d’un site e-commerce</h3>
        <p>Création d’un site d’e-commerce avec Shopify pour une PME de vente de matériel pour espaces vert et forêts.</p>
        <a class="btn btn-secondary" href="/ets-valentin/">Voir l'étude de cas</a>
      </div>
    </div>
    
    <div class="case-study-item">
      <img src="/dentalys-preview.webp" alt="Aperçu de l'étude de cas sur le site ETS Valentin" width="640px" height="510px" loading="lazy" class="case-study-img">
      <div class="case-study-desc">
        <h3>Design et développement d'un site vitrine</h3>
        <p>Création d’un site <abbr title="Une seule page">one-page</abbr> pour un cabinet de dentiste voulant renforcer sa présence sur le web.</p>
        <a class="btn btn-secondary" href="/dentalys/">Voir l'étude de cas</a>
      </div>
    </div>
  </div>
  
  <div class="case-study-item">
      <img src="/dentalys-preview.webp" alt="Aperçu de l'étude de cas sur le site ETS Valentin" width="640px" height="510px" loading="lazy" class="case-study-img">
      <div class="case-study-desc">
        <h3>Création de site</h3>
        <p>Création d’un site web pour le nouveau bar à bières artisanales « Le Raising Hops ».</p>
        <a class="btn btn-secondary" href="https://raisinghops.fr">Voir le site</a>
      </div>
    </div>
  </div>
</section>

<div class="contact-section" id="contact">
  <h2>Donnons vie à votre projet</h2>
  <p>N’hésitez pas à me contacter par mail pour discuter de votre projet, et travailler ensemble à le construire !</p>
  <a class="btn btn-primary" href="mailto:sylvain.bauvais@hova.fr?subject=Création ou modification de mon site">M'envoyer un message</a>
</div>

{{ end }}
